.todoform {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.modernInput {
  display: block;
  width: 95%;
  border: none;
  padding: 10px 5px;
  font-size: 18px;
  color: rgba(25, 25, 25, 0.7);
  transition: all 1s;
  border-radius: 4px;
  border: 1px solid #a8a0a08c;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}
.modernInput:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 4px 3px rgba(13, 126, 231, 0.575);
}
.modernButton {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #c53b97, #1367e6);
  padding: 10px 5px;

  font-size: 20px;
}
.inputContainer {
  display: flex;
}
